@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,700&display=swap);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  background: #010001;
  color: #ffffff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*="__container"] {
  max-width: 76.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*="-ibg"] {
  position: relative;
}
[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*="-ibg_contain"] img {
  object-fit: contain;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@supports (padding-top: clamp(2.1875rem, 1.8896276596rem + 1.4893617021vw, 3.0625rem)) {
  .header__menu {
    padding-top: clamp(2.1875rem, 1.8896276596rem + 1.4893617021vw, 3.0625rem);
  }
}
@supports not (padding-top: clamp(2.1875rem, 1.8896276596rem + 1.4893617021vw, 3.0625rem)) {
  .header__menu {
    padding-top: calc(2.1875rem + 0.875 * (100vw - 20rem) / 58.75);
  }
}
@supports (padding-bottom: clamp(5.625rem, 5.0292553191rem + 2.9787234043vw, 7.375rem)) {
  .header__menu {
    padding-bottom: clamp(5.625rem, 5.0292553191rem + 2.9787234043vw, 7.375rem);
  }
}
@supports not (padding-bottom: clamp(5.625rem, 5.0292553191rem + 2.9787234043vw, 7.375rem)) {
  .header__menu {
    padding-bottom: calc(5.625rem + 1.75 * (100vw - 20rem) / 58.75);
  }
}
.header__logo {
  margin-top: 2px;
}

.menu__body {
  display: flex;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.menu__link {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #808080;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #bebebe;
}

.add-menu__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2px;
}
.add-menu__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.add-menu__link {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  transition: color 0.3s ease 0s;
}
.add-menu__link:hover {
  color: #a3a3a3;
}

@media (max-width: 47.99875em) {
  .header {
    position: relative;
  }
  .header__menu {
    justify-content: flex-start;
  }
  .header__logo {
    margin: 0px auto 0px 0px;
  }

  .add-menu__list {
    position: absolute;
    transition: transform 0.3s ease 0s;
    transform: translateX(-500%);
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: #000;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
  }

  .add-menu__item:not(:last-child) {
    margin: 0;
  }

  .add-menu__link {
    font-size: 1.3125rem;
  }

  .menu-open .add-menu__list {
    transition: transform 0.3s ease 0s;
    transform: translateX(0%);
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
    margin: 0px 15px 0px 0px;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
}

.page__container {
  max-width: 71.375rem;
}

.text__block {
  max-width: 47.875rem;
  margin: 0 auto;
  padding: 0px 0px 145px 0px;
}

.title {
  text-align: left;
  line-height: 1.171875;
  margin: 0px 0px 27px 0px;
}
@supports (font-size: clamp(2.25rem, 1.6542553191rem + 2.9787234043vw, 4rem)) {
  .title {
    font-size: clamp(2.25rem, 1.6542553191rem + 2.9787234043vw, 4rem);
  }
}
@supports not (font-size: clamp(2.25rem, 1.6542553191rem + 2.9787234043vw, 4rem)) {
  .title {
    font-size: calc(2.25rem + 1.75 * (100vw - 20rem) / 58.75);
  }
}

.subtitle {
  position: relative;
  text-align: center;
  max-width: 16.875rem;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375;
  text-transform: lowercase;
  z-index: -1;
}
.subtitle::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.125rem;
  height: 3.6875rem;
  background: #ffffff;
  left: 50%;
  bottom: -86px;
}

.planet-img {
  text-align: center;
  margin: 0px 0px 111px 0px;
}
.planet-img img {
  max-width: 100%;
}

.information {
  display: flex;
  align-items: center;
}
@supports (margin-bottom: clamp(6.25rem, 3.1861702128rem + 15.3191489362vw, 15.25rem)) {
  .information {
    margin-bottom: clamp(6.25rem, 3.1861702128rem + 15.3191489362vw, 15.25rem);
  }
}
@supports not (margin-bottom: clamp(6.25rem, 3.1861702128rem + 15.3191489362vw, 15.25rem)) {
  .information {
    margin-bottom: calc(6.25rem + 9 * (100vw - 20rem) / 58.75);
  }
}
.information__block:first-child {
  max-width: 31.4375rem;
  margin: 236px 220px 0px 0px;
}
.information__block img {
  padding-top: 2px;
}
.information__item {
  line-height: 1.7777777778;
}
@supports (font-size: clamp(1rem, 0.9574468085rem + 0.2127659574vw, 1.125rem)) {
  .information__item {
    font-size: clamp(1rem, 0.9574468085rem + 0.2127659574vw, 1.125rem);
  }
}
@supports not (font-size: clamp(1rem, 0.9574468085rem + 0.2127659574vw, 1.125rem)) {
  .information__item {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 58.75);
  }
}
.information__item span {
  color: #b2b0b2;
}
.information__item:not(:last-child) {
  margin: 0px 0px 11px 0px;
}
.information__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4166666667;
  text-transform: uppercase;
  max-width: 11.0625rem;
  margin: 0px 0px 45px 0px;
}
.information__parameters {
  display: flex;
  margin: 0px 0px 218px 0px;
}
@supports (margin-right: clamp(1.25rem, -1.0904255319rem + 11.7021276596vw, 8.125rem)) {
  .information__arguments:first-child {
    margin-right: clamp(1.25rem, -1.0904255319rem + 11.7021276596vw, 8.125rem);
  }
}
@supports not (margin-right: clamp(1.25rem, -1.0904255319rem + 11.7021276596vw, 8.125rem)) {
  .information__arguments:first-child {
    margin-right: calc(1.25rem + 6.875 * (100vw - 20rem) / 58.75);
  }
}
.information__subtitle {
  font-size: 1rem;
  line-height: 1.8125;
  max-width: 30.625rem;
}

@media (max-width: 62.875em) {
  .information {
    justify-content: space-between;
  }
  .information__block:first-child {
    margin: 236px 0px 0px 0px;
  }
}
@media (max-width: 47.5em) {
  .information {
    flex-wrap: wrap;
  }
  .information__block:first-child {
    margin: 0;
  }
  .information__parameters {
    margin: 0px 0px 90px 0px;
  }
  .information__block:last-child {
    margin: 50px 0px 0px 0px;
    width: 100%;
    text-align: center;
  }
}
.footer {
  line-height: 1.1666666667;
}
.footer__container {
  text-align: center;
  max-width: 34rem;
}
.footer__logo {
  display: inline-block;
  margin: 0px 0px 40px 0px;
}

.soicals__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px 0px 28px 0px;
}

.socials__link {
  transition: color 0.3s ease 0s;
}
.socials__link:hover {
  color: #808080;
}

.mail {
  color: #808080;
  margin: 0px 0px 27px 0px;
}

.contact-us {
  display: inline-block;
  padding: 18px 85px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  transition: color 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@supports (margin-bottom: clamp(3.125rem, 1.4015957447rem + 8.6170212766vw, 8.1875rem)) {
  .contact-us {
    margin-bottom: clamp(3.125rem, 1.4015957447rem + 8.6170212766vw, 8.1875rem);
  }
}
@supports not (margin-bottom: clamp(3.125rem, 1.4015957447rem + 8.6170212766vw, 8.1875rem)) {
  .contact-us {
    margin-bottom: calc(3.125rem + 5.0625 * (100vw - 20rem) / 58.75);
  }
}
.contact-us:hover {
  background: #ffffff;
  color: #000;
}

@media (max-width: 35.5625em) {
  .soicals__list {
    justify-content: center;
  }
}
